::-webkit-scrollbar {
    width: 6px; 
    height: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1F2937;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px; 
  }


  ::-webkit-scrollbar-corner {
    background-color: #999; 
  }